<%=image_tag 'logo.jpg'%>
<h1>당 첨 번 호</h1>
<%=image_tag @select1 %> <%=image_tag @select2%> <%=image_tag @select3%> <%=image_tag @select4%> <%=image_tag @select5%> <%=image_tag "lotto/add.png" %> <%=image_tag @select6%>